canvas {
    outline: 1px solid #000000;
}

#botoes_menu {
    top: 0px;
    right: 0px;
    z-index: 99;
    position: fixed;
    background-color: rgba(0, 0, 0, .6);
}

#loading {
    left: 0px;
    width: 100%;
    bottom: 0px;
    color: white;
    height: 60px;
    display: none;
    position: fixed;
    padding-top: 5px;
    text-align: center;
    background-color: rgba(0, 0, 0, .6);
}